@import './base/index';
@import './components/hero';
@import './components/hero-bottom';
@import './components/field';
@import './components/offer';
@import './components/client';
@import './components/delivery';
// @import './components/sponsors';
@import './components/employee';
@import './components/contact';
@import './components/video.scss';
@import './layout/footer';


.container{
    max-width: 1240px;
    padding: 0px 20px;
    margin: 0 auto;
}