@use '../abstract/variables' as vars;
@import '../abstract/mixins';

.sponsor {
    &__title {
        @include title();
    }

    &__names {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;
        padding: 90px 0px 130px 0;
        gap: 71px 0;
    }

    &--line {
        height: 183px;
        width: 1px;
        background: #D7D7DD;
        display: block;
    }

    &-names__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 257px;
    }

    &-names__img {
        width: 50%;
        flex: 1;
    }

    &-names__text {
        font-family: vars.$pts-regular;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.9px;
        color: vars.$secondary-color;
        margin-top: 15px;
    }

    &-names__title {
        @include subtitle();
    }
}

@media screen and (max-width:991px) {
    .sponsor {
        &__title {
            @include titleTablet();
        }

        &__names {
            grid-template-columns: repeat(3, 1fr);
        }

        .sponsor--none {
            display: none;
        }
    }
}

@media screen and (max-width:551px) {
    .sponsor {
        &__title {
            @include smallScreenHeading();
        }

        .small--none {
            display: none;
        }
    }
}