@use '../abstract/variables' as vars;
@import '../abstract/mixins';

.video {
    &__item {
        margin-bottom: 166px;
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width:991px) {
    .video {
        &__item {
            margin: 0px 0 106px 0 !important;
        }
    }
}

@media screen and (max-width:551px) {
    .video {
        &__item {
            margin: 0px 0px 25px 0 !important;
        }
    }
}