@font-face {
    font-family: 'Exo2';
    src: url('../../fonts/Exo2.woff2') format(woff2);
}

@font-face {
    font-family: 'PTSBold';
    src: url('../../fonts/PTSansBold.woff2') format(woff2);
}

@font-face {
    font-family: 'PTSRegular';
    src: url('../../fonts/PTSansRegular.woff2') format(woff2);
}